/* UNIVERSAL STYLES */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Source Sans Pro', sans-serif;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    overflow-x: hidden;
}

section {
    padding: 4rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* HEADER - MOBILE */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.navigation {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.menu-toggle {
    color: #fff;
    font-size: 2.4rem;
    z-index: 1500;
    cursor: pointer;
}

.fas.fa-bars {
    display: block;
}

.fas.fa-times {
    display: none;
}

.logo {
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: var(--main-font-color-dark);
    padding: 0 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.navigation::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-bars {
    display: none;
}

.open .fa-times {
    display: block;
}

.open .nav-list {
    transform: translateX(0);
}

.open .navigation::before {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.nav-link {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    text-transform: uppercase;
    transition: color .5s;
}

.nav-link:hover {
    color: var(--secondary-font-color);
}

/* HERO - MOBILE */

.hero {
    width: 100%;
    height: 100%;
    background: url("../images/hero-web.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.headline {
    font-size: 7.2rem;
    color: #fff;
    letter-spacing: 1rem;
    margin-right: -1rem;
    line-height: 1;
    opacity: 0;
    animation: scale .5s forwards;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.6rem;  
}

.line {
    width: 100%;
    max-width: 7.2rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before {
    border-right-color: #fff;
    right: 0;
}

.line-left::before {
    border-left-color: #fff;
    left: 0;
}

.asterisk {
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation {
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cta-btn {
    font-size: 1.2rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: var(--secondary-font-color);
}

/* ANIMATIONS */

@keyframes scale {
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes fadeDown {
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes infiniteUp {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}